<form action="/index" method="post">

  <h1>WeatherWear</h1>

  {{# if currentUserId}}
    <div class="section geo-location input">
      <div class="form-group">
        <h3>Location</h3>
        <input class="form-control" type="text" name="loc" id="autocomplete"/>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEgWq5G822EXJIgfviFqJRf7vVE6_F5Lc&libraries=places&language=en"></script>

        <script>
        var input = document.getElementById('autocomplete');
        new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function(){
          var place = autocomplete.getPlace();
        })
        </script>
      </div>

      <a href="/main" class="section where-button">
        <p>Submit Location</p>
    </a>
    </div>
  {{/if}}

</form>
