<form action="/index" method="post">

  <h1>WeatherWear</h1>

    {{# if currentUserId}}
    <div class="section where-are-you">
      <h1>Hello?</h1>
        <div class="section where-button">
          <h2>Google Geolocation API here</h2>
          <a href="/main">
            <p>Submit Location</p>
        </div>
      </a>
    </div>
    {{/if}}

</form>
