<div class="section landing-page">
  <div class="landing-title">
    <h1 class="title-1">Weather</h1><h1 class="title-2">Wear</h1>
  </div>
  <div class="landing-buttons">
    <a class="buttons sign-in-button" href="/login">SIGN IN</a>
    <a class="buttons sign-up-button" href="/users/new">SIGN UP</a>
  <div>
</div>
