<div class="section landing-page">
  <h1>WeatherWear</h1>
  <div class="landing-buttons">
    <a class="buttons sign-in-button" href="#">SIGN IN</a>
    <a class="buttons sign-up-button" href="#">SIGN UP</a>
  <div>
</div>
