<header>
    <h1>WeatherWear</h1>

    <!-- <script src="https://api.darksky.net/forecast/6f3be8512aa00bf20706bd64b3a6f127/37.8267,-122.4233"></script> -->


    {{# if currentUserId}}
    <div class="section landing-content">
      <a href="/dateLog/compare">
        <div class="section landing-compare">
          <h2>Compare</h2>
          <p>Find days that have a similar temperature as today!</p>
        </div>
      </a>

      <a href="/dateLog/new">
        <div class="section landing-create">
          <h2>Create</h2>
          <p>Haven't made a log for today? Create one now!</p>
        </div>
      </a>
    </div>
    {{/if}}
</header>
