#se-pre-con {
  display: none;
	margin: auto;
	width: 500px;
	height: 500px;
	background: url('/img/Preloader_2.gif') center no-repeat;
  mix-blend-mode: multiply;
}

html, body, main {
  height: 100%;
}

body {
  background-color: #FFFBEE;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section.landing-page {
  position: absolute;
  overflow: hidden;
  height: 588px;
  width: 100%;
}

.section.landing-page:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  padding: inherit;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.section.landing-page h1 {
  text-align: center;
  z-index: 2;
  position: relative;

  font-family: Josefin Sans;
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: bold;
  color:#FFFFFF;
  text-shadow: 2px 2px black;

  display: flex;
  justify-content: center;
}

.landing-welcome h1 {
  font-family: 'Josefin Sans';
  /* font-family: 'Google Sans',arial,sans-serif; */
  font-size: 80px;
  color: white;
  text-transform: capitalize;
  letter-spacing: -3px;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;
}

.buttons{
  margin: 0 15px;
  display: inline-block;
  width: 200px;
  padding: 8px;

  text-align: center;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.2em;
  outline: none;
  text-decoration: none;
}

.buttons.sign-in-button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
}

.buttons.sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F8F8F8;
  border-color: 2px solid #fff;
  color: #080808;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}

.buttons.sign-in-button:hover,
.buttons.sign-in-button:active {
  text-decoration: none;
  background-color: #F8F8F8;
  border-color: 2px solid #fff;
  color: #080808;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.buttons.sign-up-button:hover,
.buttons.sign-up-button:active {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: color 0.3s ease-in,
                background-color 0.3s ease-in
                /* border-color 0.3s ease-in; */
}

.section.sign-in-content {
  position: absolute;
  overflow: hidden;
  height: 588px;
  width: 100%;
}

.section.sign-in-content:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  padding: inherit;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.section.sign-in-background {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;

  padding: 10px 80px 30px;
  border-radius: 15px;
}

.section.sign-in-content h2 {
  display: flex;
  justify-content: center;
  padding: 20px;

  text-align: center;
  z-index: 2;
  position: relative;

  font-family: 'Playfair Display';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 40px;
}

.sign-input {
  text-align: center;
  z-index: 2;
  position: relative;
}

.back-button a {
  position:absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 10px;
  justify-content: flex-start;
  z-index: 2;

  font-family: 'Playfair Display';
  font-size: 25px;
  color: #FFFFFF !important;
}

.back-button a:hover, .back-button a:visited {
  text-decoration: none;
  color: #FFFFFF !important;
}

.form-group {
  margin-bottom: 0px;
  height: 100%;
}

.form-group ::placeholder, select {
  font-family: 'Josefin Sans';
  font-size: 18px;
}

.form-group input[type="text"]{
  font-family: Muli;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.form-group label, .sign-up-link, .submit-button {
  font-family: Muli;
  font-size: 20px;
}

.sign-up-link a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.sign-up-link a:hover {
  color: white;
}

.submit-button button {
  background-color: #B44746;
  border-color: #B44746;
  font-size: 18px;
}

.submit-button button:hover {
  background-color: #680808;
  border-color: #680808;
}

#main-page {
  position: absolute;
  overflow: hidden;
  top: 55px;
  height: 532px;
  width: 100%;
  z-index: -1;
}

.section.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  z-index: 2;
}

.today-weather, .current-loc-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0 10px; */

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  padding: 30px 30px;
  border-radius: 20px;
}

.weather-temp, .weather-feels, .weather-wind {
  display: flex;
  flex-direction: row;
}

.temp-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.temp-words {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 -50px;
}

.temp-words p {
  margin: 2px 0;
}

.temp-info p {
  margin: 2px 5px;
}

.temp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 20px;
}

.temp-feels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-temp p {
  margin: 0 10px 10px 0;
  font-family: Lato;
}

.weather-feels p, .weather-wind p {
  margin: 0 5px;
  font-family: Lato;
}

.current-loc-weather p {
  margin: 0;
  font-family: 'Lato';
}

.weather-heading h6, #location {
  font-family: Lato;
  margin-bottom: -2px;
}

.weather-sub-heading h2, #current-temp {
  font-family: Lato;
  font-weight: bold;
  font-size: 50px;
  margin: 10px 0;
  letter-spacing: 1px;
}

.section.main-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  margin: 0 20px;
}

.section.main-buttons h2, .section.landing-compare h2 {
  font-size: 20px;
  text-align: center;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.2em;
  outline: none;
  text-decoration: none;
  margin: 5px;
}

.section.landing-compare {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin: 0 20px;

  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
}

.section.landing-create {
   cursor: pointer;
   margin: 0 15px;
   display: inline-block;
   width: 200px;
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #F8F8F8;
   border: 2px solid #fff;
   color: #080808;
   transition: color 0.3s ease-out,
               background-color 0.3s ease-out,
               border-color 0.3s ease-out;
 }

.section.landing-compare:hover, .section.landing-compare:active {
  text-decoration: none;
  background-color: #F8F8F8;
  border-color: 2px solid #fff;
  color: #080808;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

.section.landing-create:hover, .section.landing-create:active {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  transition: color 0.3s ease-in,
                background-color 0.3s ease-in
}

.navbar-brand a, .navbar-brand a:hover {
  font-family: 'Josefin Sans';
  font-size: 25px;
  color: #F6E481 !important;
  text-decoration: none;
}

.navbar-text a, .navbar-text a:hover {
  color: white !important;
  text-decoration: none;
}

.navbar {
  background-color: #202020;
}

.navbar-text {
  font-family: Raleway;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.new-input-content {
  background-color: #FFFBEE;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.new-input-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-input, .right-input, .middle-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.middle-input {
  margin: 0 -25px 0 10px;
}

.middle-input li, .right-input li {
  font-family: 'Muli';
  font-size: 20px;
  font-weight: bold;
}

.right-input label, .middle-input label {
  margin: 5px 0;
}

.middle-input input {
  margin-bottom: 10px;
}

.create-button {
  margin: 20px;
}

#date, #year {
  font-family: Lato;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}

select {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ced4da;
}

.dropdown-input {
  margin-top: 10px;
}

.input-field-box {
  display: flex;
  flex-direction: row;

  background-color: #fff;
  background-color: rgba(255,231,155, 0.8);
  z-index: 2;
  padding: 30px 20px;
  border-radius: 20px;
}

.filtered-body, .inputs-body {
  background-color: #FFFBEE;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.selected-body {
  background-color: #FFFBEE;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filtered-body ol, .inputs-body ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.filtered-body ol, .inputs-body ol {
  margin: 0px;
  padding-top: 20px;
  padding-left: 0px;
}

.filtered-body li, .inputs-body li {
  width: 300px;
  height: 270px;
  margin: 20px;
  padding: 20px;

  display: flex;
  background-color: #B44746;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.log-stuff a, .log-stuff a:visited,
.inputstuff a, .inputstuff a:visited {
  margin-bottom: 30px;
  color: #F6E481 !important;
  font-family: Lato;
  letter-spacing: 1px;
  font-weight: bold;
}

.log-stuff p {
  color: #FFFFFF;
  font-family: Lato;
  overflow: hidden;
}

.log-stuff a:hover, .inputstuff a:hover {
  text-decoration: none;
  color: #FFFFFF !important;
}

.log-stuff h2 {
  font-family: Lato;
  font-size: 55px;
  margin: 15px 0 5px;
  color: #FFFFFF;
}

.log-userfeels {
  background-color: black;
  padding: 2px 2em;
  margin-top: -5px 0;
}

.input-userfeels {
  background-color: black;
  padding: 2px 0;
  margin-top: -5px 0;
  color: white;
}

.input-date {
  margin: 20px 0 10px;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
}

.input-location {
  font-family: Lato;
}

.trash-button {
  display:flex;
  justify-content: flex-end;
}

#trash {
  color: black !important;
  background-color: inherit !important;
  border: none;
  margin: auto;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

#trash:hover {
  color: #F6E481 !important;
}

#trash:focus #trash:active {
   outline: none !important;
   box-shadow: none;
}

.selected-body {
  font-family: Lato;
}

.selected-body h4 {
  font-size: 50px;
  font-weight: bolder;
  color: #B44746;
}

.selected-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.selected-inputs h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.selected-outfits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: #fff;
  background-color: rgba(255,231,155, 0.8);
  z-index: 2;
  padding: 20px 120px;
  border-radius: 20px;

  font-family: Lato;
}

.selected-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clothes-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.clothes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
}

.clothes-label p {
  font-weight: bold;
  margin: 5px 0;
}

.clothes-content p {
  margin: 5px 0;
}

.selected-feels-only {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.selected-feels-only h5 {
  margin-right: 5px;
  margin-left: 5px;
}

.major-feels {
  color: #B44746;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.no-user-input, .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  align-items: center;
  font-family: Lato;
  height: 100%;
}

.no-user-input h2{
  font-weight: bold;
  color: #B44746;
  font-size: 50px;
}

.all-create {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  padding: 8px 0;
  color: #fff;
  background-color: #202020;
  border: 2px solid #202020;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

.all-create:hover,
.all-create:active {
  background-color: #B44746;
  border-color: #B44746;
  transition: background-color 0.2s ease-in,
              border-color 0.2s ease-in;
}

.all-create h4 {
  font-family: Lato;
  margin: auto;
  letter-spacing: 2px;
}
