#se-pre-con {
  display: none;
	margin: auto;
	width: 500px;
	height: 500px;
	background: url('/img/Preloader_2.gif') center no-repeat;
  mix-blend-mode: multiply;
  /* z-index: 3; */
}

html, body, main {
  height: 100%;
}

body {
  background-color: #fffff7;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section.landing-page {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.section.landing-page:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.section.landing-page h1 {
  text-align: center;
  z-index: 2;
  position: relative;

  font-family: Josefin Sans;
  font-size: 80px;
  letter-spacing: 6px;
  font-weight: bold;

  display: flex;
  justify-content: center;
}

.landing-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: black;
  text-shadow: 2px 2px #C4AF93;
}

.title-2 {
  color: #fff;
  text-shadow: 2px 2px black;
}

.landing-welcome h1 {
  font-family: 'Josefin Sans';
  font-size: 80px;
  color: white;
  text-transform: capitalize;
  letter-spacing: -3px;
}

@media only screen and (max-width: 599px) {
  .landing-welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}

.landing-buttons {
  display: flex;
  flex-direction: row;
  z-index: 1;
  position: relative;
}

.buttons{
  margin: 0 15px;
  display: inline-block;
  width: 200px;
  padding: 8px;

  text-align: center;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.2em;
  outline: none;
  text-decoration: none;
}

.buttons.sign-in-button {
  background-color: #C4AF93;
  border: 2px solid #C4AF93;
  color: #fff;
  transition: color 0.2s ease-out,
                background-color 0.2s ease-out,
                border 0.2s ease-out;
}

.buttons.sign-up-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #202020;
  border: 2px solid black;
  color: #fff;
  transition: color 0.2s ease-out,
              background-color 0.2s ease-out,
              border 0.2s ease-out;
}

.buttons.sign-in-button:hover,
.buttons.sign-in-button:active {
  text-decoration: none;
  color: #fff;
  background-color: #202020;
  border: 2px solid #202020;
  transition: color 0.2s ease-in,
                background-color 0.2s ease-in,
                border 0.2s ease-in;
}

.buttons.sign-up-button:hover,
.buttons.sign-up-button:active {
  text-decoration: none;
  color: #fff;
  background-color: #C4AF93;
  border: 2px solid #C4AF93;
  transition: color 0.2s ease-in,
                background-color 0.2s ease-in,
                border 0.2s ease-in;
}

.section.sign-in-content {
  position: absolute;
  overflow: hidden;
  height: 588px;
  width: 100%;
}

.section.sign-in-content:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  padding: inherit;
  background-image: url("../img/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.section.sign-in-background {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;

  padding: 10px 80px 30px;
  border-radius: 15px;
}

.section.sign-in-content h2 {
  display: flex;
  justify-content: center;
  padding: 10px;

  text-align: center;
  z-index: 2;
  position: relative;

  font-family: 'Playfair Display';
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 40px;
}

p.sign-up-link {
  font-family: Muli;
  margin: 10px 0 !important;
}

.sign-input {
  text-align: center;
  z-index: 2;
  position: relative;
}

.back-button a {
  position:absolute;
  display: flex;
  flex-direction: row;
  top: 10px;
  left: 10px;
  justify-content: flex-start;
  z-index: 2;

  font-family: 'Playfair Display';
  font-size: 25px;
  font-weight: bold;
  color: black !important;
}

.back-button a:hover, .back-button a:visited {
  text-decoration: none;
  color: black !important;
}

.form-group {
  margin-bottom: 0px;
  height: 100%;
}

.form-group ::placeholder, select {
  font-family: 'Josefin Sans';
  font-size: 18px;
}

.form-group input[type="text"]{
  font-family: Muli;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.form-group label, .submit-button {
  font-family: Muli;
  font-size: 18px;
  margin: 8px 0;
}

.sign-up-link a {
  color: #75572e;
  font-weight: bold;
  text-decoration: none;
}

.sign-up-link a:hover {
  color: black;
}

.submit-button button {
  background-color: #B0946D;
  border-color: #B0946D;
  font-size: 18px;
}

.submit-button button:hover {
  background-color: #C4AF93;
  border-color: #C4AF93;
}

#main-page {
  position: absolute;
  overflow: hidden;
  top: 55px;
  height: 532px;
  width: 100%;
  z-index: -1;
}

.section.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  z-index: 2;
}

.today-weather, .current-loc-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0 10px; */

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  padding: 30px 30px;
  border-radius: 20px;
}

.weather-temp, .weather-feels, .weather-wind {
  display: flex;
  flex-direction: row;
}

.temp-all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.temp-words {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 -50px;
}

.temp-words p {
  margin: 2px 0;
}

.temp-info p {
  margin: 2px 5px;
}

.temp-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10px;
}

.temp-feels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather-temp p {
  margin: 0 10px 10px 0;
  font-family: Lato;
}

.weather-feels p, .weather-wind p {
  margin: 0 5px;
  font-family: Lato;
}

.current-loc-weather p {
  margin: 0;
  font-family: 'Lato';
}

.weather-heading h6, #location {
  font-family: Lato;
  margin-bottom: -2px;
}

.weather-sub-heading h2, #current-temp {
  font-family: Lato;
  font-weight: bold;
  font-size: 50px;
  margin: 10px 0;
  letter-spacing: 1px;
}

.section.main-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
  margin: 0 20px;
}

.section.main-buttons h2, .section.landing-compare h2 {
  font-size: 20px;
  text-align: center;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.15em;
  outline: none;
  text-decoration: none;
  margin-bottom: 0px;
}

.section.landing-compare {
  cursor: pointer;
  display: inline-block;
  width: 180px;
  padding: 10px;
  margin: 0 20px;

  color: #080808;
  background-color: #fff;
  border: 2px solid #fff;
  transition: color 0.2s ease-out,
                background-color 0.2s ease-out,
                border 0.2s ease-out;
}

.section.landing-create {
   cursor: pointer;
   margin: 0 15px;
   display: inline-block;
   width: 190px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;

   color: #080808;
   background-color: #fff;
   border: 2px solid #fff;
   transition: color 0.2s ease-out,
               background-color 0.2s ease-out,
               border-color 0.2s ease-out;
 }

.section.landing-compare:hover, .section.landing-compare:active {
  text-decoration: none;
  background-color: #C4AF93;
  border: 2px solid #C4AF93;
  color: #fff;
  transition: color 0.2s ease-in,
                background-color 0.2s ease-in,
                border 0.2s ease-in;
}

.section.landing-create:hover, .section.landing-create:active {
  text-decoration: none;
  background-color: #C4AF93;
  border: 2px solid #C4AF93;
  color: #fff;
  transition: color 0.2s ease-in,
                background-color 0.2s ease-in,
                border 0.2s ease-in;
}

.navbar-brand a, .navbar-brand a:hover {
  font-family: 'Josefin Sans';
  font-size: 25px;
  /* color: #aac5f5 !important; */
  color: #e3c499 !important;
  text-decoration: none;
  margin: 0px;
}

.navbar-text a, .navbar-text a:hover {
  color: #fff !important;
  text-decoration: none;
}

.navbar {
  background-color: #202020;
}

.navbar-text {
  font-family: Raleway;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;
}

.new-input-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input-field-box {
  display: flex;
  /* flex-direction: row; */

  background-color: #f3f3f3;
  padding: 30px 20px;
  border-radius: 20px;
}

.left-input, .right-input, .middle-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.left-input {
  margin-right: 10px;
  text-align: center;
}

.edit-left {
  margin-left: -120px;
  margin-right: 20px;
}

.edit-box {
  margin-right: 60px;
  margin-left: -200px;
}

.edit-middle , .edit-right {
  padding: 0 30px;
}

.middle-input li, .right-input li {
  font-family: 'Muli';
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.middle-input li {
  margin-left: 35px;
}

.right-input label, .middle-input label {
  margin: 5px 0;
}

.middle-input input {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1050px) and (min-width: 600px) {
    .new-input-content {
      flex-direction: column;
      margin-top: 250px;
      margin-bottom: 50px;
      padding: 100px;
    }

    .input-field-box {
      flex-direction: column;
      padding: 20px 50px;
    }

    .left-input {
      margin-left: 0;
      margin-bottom: 150px;
    }

    .middle-input {
      padding: 0;
    }
}

@media only screen and (max-width: 599px) {
  .new-input-content {
    flex-direction: column;
    margin-top: 250px;
    margin-bottom: 150px;
    padding: 100px;
  }

  .input-field-box {
    flex-direction: column;
    padding: 20px 10px;
  }

  .left-input {
    margin-left: 0;
    margin-top: 140px;
    margin-bottom: 190px;
    padding: 0 -50px;
  }

}

@media only screen and (max-width: 1050px) and (min-width: 600px) {
    .new-input-content {
      flex-direction: column;
      margin-top: 250px;
      margin-bottom: 50px;
      padding: 100px;
    }

    .edit-box {
      margin: 0;
    }

    .edit-left {
      margin-left: 0;
      margin-bottom: 150px;
    }

    .edit-loc {
      width: 400px;
    }

    .middle-input {
      padding: 0;
    }
}

@media only screen and (max-width: 599px) {
  .new-input-content {
    flex-direction: column;
    margin-top: 250px;
    margin-bottom: 150px;
    padding: 100px;
  }

  .edit-box {
    flex-direction: column;
    padding: 20px 10px;
    margin: 0;
  }

  .edit-left {
    margin-left: 0;
    margin-top: 140px;
    margin-bottom: 190px;
    padding: 0 -50px;
  }

  .edit-loc {
    width: 200px;
  }

}

.create-button {
  margin: 20px;
}

#date, #year {
  font-family: Lato;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2px;
}

select {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ced4da;
}

.dropdown-input {
  margin-top: 10px;
}

.filtered-body, .inputs-body {
  background-color: #fffff7;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.selected-body {
  background-color: #fffff7;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filtered-body ol, .inputs-body ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.filtered-body ol, .inputs-body ol {
  margin: 0px;
  padding-top: 20px;
  padding-left: 0px;
}

.filtered-body li, .inputs-body li {
  width: 300px;
  height: 270px;
  margin: 20px;
  padding: 20px;

  cursor: context-menu;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.log-stuff a, .log-stuff a:visited,
.inputstuff a, .inputstuff a:visited {
  color: black !important;
  font-family: Lato;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 5px;
}

.log-loc {
  color: #604b2c;
  font-family: Lato;
}

.log-userfeels {
  font-family: Lato;
  background-color: #B0946D;
  width: 100%;
  padding: 2px 0;
  margin-top: -5px 0;
  color: white;
}

.log-stuff a:hover, .inputstuff a:hover {
  text-decoration: none;
  color: #B0946D  !important
}

.log-stuff h2 {
  font-family: Lato;
  font-size: 55px;
  margin: 15px 0 5px;
  color: black;
  font-weight: bold;
}

.input-userfeels {
  background-color: #B0946D;
  padding: 2px 0;
  margin-top: -5px 0;
  color: white;
}

.input-date {
  margin: 20px 0 10px;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
}

.input-location {
  font-family: Lato;
  color: #604b2c;
}

.trash-button {
  display:flex;
  justify-content: flex-end;
}

#trash {
  color: #604b2c !important;
  background-color: inherit !important;
  border: none;
  margin: 10px auto;
  font-size: 20px;
  padding: 0 0 15px 0;
  cursor: pointer;
}

#trash:hover {
  color: #B0946D !important;
}

#trash:focus #trash:active {
   outline: none !important;
   box-shadow: none;
}

.selected-body {
  font-family: Lato;
  cursor: default;
}

.selected-body h4 {
  font-size: 50px;
  font-weight: bolder;
  color: black;
}

.selected-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0 0 0;
}

.selected-inputs h2 {
  font-family: Lato;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
  margin: 5px 0 8px 0;
}

.selected-outfits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  /* background-color: #fff; */
  background-color: #f3f3f3;
  z-index: 2;
  padding: 20px 110px 20px 120px;
  border-radius: 20px;

  font-family: Lato;
}

.selected-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.clothes-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 12px;
  margin-top: 10px;
}

.clothes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.clothes-label p {
  font-weight: bold;
  margin: 1px;
}

.clothes-content p {
  margin: 1px;
  padding-left: 5px;
}

.selected-feels-only {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.selected-feels-only h5 {
  margin-right: 5px;
  margin-left: 5px;
}

.major-feels {
  color: #B0946D;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: -5px 0 10px 0;
}

.show-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;

  background-color: #202020;
  border: 2px solid black;
  color: #fff;
  transition: color 0.2s ease-out,
              background-color 0.2s ease-out,
              border 0.2s ease-out;
}

.buttons.show-edit:hover,
.buttons.show-edit:active {
  text-decoration: none;
  color: #fff;
  background-color: #C4AF93;
  border: 2px solid #C4AF93;
  transition: color 0.2s ease-in,
                background-color 0.2s ease-in,
                border 0.2s ease-in;
}

.edit-loc {
  text-align: center;
  font-family: 'Muli';
  font-size: 20px;
}

.location-input {
  padding: 0 150px;
}

.no-user-input, .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  align-items: center;
  font-family: Lato;
  height: 100%;
}

.no-user-input h2{
  font-weight: bold;
  color: #B44746;
  font-size: 50px;
}

.all-create {
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  padding: 8px 0;
  color: #fff;
  background-color: #202020;
  border: 2px solid #202020;
  border-radius: 3px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}

.all-create:hover,
.all-create:active {
  background-color: #B44746;
  border-color: #B44746;
  transition: background-color 0.2s ease-in,
              border-color 0.2s ease-in;
}

.all-create h4 {
  font-family: Lato;
  margin: auto;
  letter-spacing: 2px;
}
